# Ignore build output directory
/build
/export

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata
.Xil
project_1
uart_rx.vhd
*.str
*.jou
*.log
*.pb
NA
hls4ml_projects_bak
venv
